<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A layout example that shows off a responsive email layout."
    />
    <title>Email &ndash; Layout Examples &ndash; Pure</title>

    <link
      rel="stylesheet"
      href="https://unpkg.com/purecss@2.0.3/build/pure-min.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div
      id="layout"
      class="content pure-g"
      @keyup.a="isAnswer(0)"
      @keyup.b="isAnswer(1)"
      @keyup.c="isAnswer(2)"
      @keyup.d="isAnswer(3)"
    >
      <div id="nav" class="pure-u">
        <a href="#" class="nav-menu-button">Menu</a>

        <div class="nav-inner">
          <button
            class="primary-button pure-button"
            @click="isBeginPlay = !isBeginPlay"
          >
            Play
          </button>

          <div class="pure-menu">
            <ul class="pure-menu-list">
              <li class="pure-menu-heading">Lifelines</li>
              <li class="pure-menu-item">
                <a href="#" class="pure-menu-link"
                  ><span class="email-label-personal"></span>50:50</a
                >
              </li>
              <li class="pure-menu-item">
                <a href="#" class="pure-menu-link"
                  ><span class="email-label-work"></span>Ask Audience</a
                >
              </li>
              <li class="pure-menu-item">
                <a href="#" class="pure-menu-link"
                  ><span class="email-label-travel"></span>Phone Friend</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>

      <main v-if="isBeginPlay" v-cloak>
        <div id="list" class="pure-u-1">
          <div
            class="email-item email-item-selected pure-g"
            :class="{ 'email-item-unread': isActive(round.level) }"
            v-for="round in rounds"
          >
            <div class="pure-u-3-4">
              <h4 class="email-subject">
                {{ round.level }} - ${{ round.amount }}
              </h4>
            </div>
          </div>
        </div>

        <div id="main" class="pure-u-1">
          <div class="email-content">
            <div class="email-content-header pure-g">
              <div class="pure-u-1">
                <h1 class="email-content-title" v-html="currentQ"></h1>
              </div>
            </div>

            <div class="email-content-body">
              <ul>
                <li v-html="answers[0]" @click="isAnswer(0)"></li>
                <li v-html="answers[1]" @click="isAnswer(1)"></li>
                <li v-html="answers[2]" @click="isAnswer(2)"></li>
                <li v-html="answers[3]" @click="isAnswer(3)"></li>
              </ul>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="index.js"></script>
  </body>
</html>
